* {
  padding: 0;
  margin: 0;
  box-sizing: ;
  contain: content;
}
body {
  overflow: hidden;
}

/* .carousel-item img {
  width: 100px;
  height: 100px;
} */

.card-body img {
  min-height: 200px;
  min-width: 50%;
}
